<?xml version="1.0"?>
<launch>

<arg name="average_window_size" default="10" />
<param name="average_window_size" type="int" value="$(arg average_window_size)"/>

<include file="$(find assignment_2_2023)/launch/assignment1.launch"/>

<node pkg="rt1_pkg" type="last_target_service.py" name="last_target_service" output="screen"/>
<node pkg="rt1_pkg" type="robot_to_target_service.py" name="robot_to_target_service" output="screen"/>

</launch>


